<form action="/named-dog" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
  </div>
  <div>
    <label for="color">Colour:</label>
    <input type="text" id="text" name="color">
    <input type="submit" value="Submit name and color"
  </div>
</form>